@import '../../index.scss';

.formcontainer {
    max-width: 1200px;
    margin: 40px auto;

    form {
        display: flex;
        flex-direction: column;

        input {
            padding: 1.2em;
            width: 350px;
            outline: none;
            border: solid 1px #cecece;
            border-radius: 0.2em;

            &::placeholder{
                font-size:0.9em;
            }
        }

        label {
            margin-bottom: 0.7em;
            font-size: 0.8em;
            position: relative;
            top: 11px;
            background: #607d8b;
            display: flex;
            justify-content: center;
            color: #fff;
            padding: 0.1em;
            font-weight: 900;
        }

        button {
            background: #fff;
            border: 2px solid #77d7c8;
            padding: 0.8em;
            border-radius: 1.8em;
            margin-top: 10px;
        }
    }
}

.result {
    button {
        background: #fff;
        border: 2px solid #77d7c8;
        padding: 0.4em;
        border-radius: 1.8em;
        margin-top: 10px;
        margin-left: 10px;
    }
}