footer {
    background: #1c1e21;

    .footer_container {
        max-width: 1200px;
        margin: 0 auto;
        padding:2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        svg {
            color: #ccc;
            margin: 0em 0.2em;
        }

        span {
            color: #ccc;
        }
    }
}