$green-bg-color: #128c7e;
$navy-bj-color:#1c1e21;
$title-color:#1c1e21;
$link-color:#1CB39B;

*{
  margin:0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

button {
  cursor:pointer;
}

