$green-bg-color: #128c7e;
$navy-bj-color:#1c1e21;
$title-color:#1c1e21;
$link-color:#1CB39B;

*{
  margin:0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  background:#f3f3f3;
}



button {
  cursor:pointer;
}

